<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diagnosahamapadi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".FMResult"
            android:exported="false" />
        <activity
            android:name=".CFResult"
            android:exported="false" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".webview.JenisPadi" />
        <activity android:name=".webview.Pemasaran">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".webview.TipsMenanam" />
        <activity android:name=".webview.PenyakitHama" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MyListData" />



        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>